Skills, .Skills {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:70px;

    .logos {
        height: 100px;
        width: 100px;
        margin: 0 10px;
    }
    
    .collect-skills {
        width: 100%;
    }
    .charts-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .chart {
        margin: '5px 10px'; height:'100px'; width:'100px'
    }
}