@import './../../style/properties';

Skills, .Skills {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:70px;

    .logos-skills {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        @media screen and (min-width: $phone-size) {
            margin: 50px 30px;
        }
    }

    .logos {
        height: 100px;
        width: 100px;
        margin: 10px 0;
        @media screen and (min-width: $phone-size) {
            margin: 10px;
        }
        
    }
    
    .collect-skills {
        width: 100%;
    }
    .charts-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .chart {
        margin: '5px 10px'; height:'100px'; width:'100px'
    }
}