@import './style/properties';

.overflow-wrap{
    overflow-x: hidden;
}

section {
    color: #616161;
    line-height: 18pt;
}

section:nth-of-type(1) {
    height: 100vh;
}

section:nth-of-type(n+1) {

    min-height: 100vh;
    margin: 0px 3%;

    @media screen and (min-width: $phone-size) {
        max-width: 1200px;
        margin: 0 12.5%;
    }
}

section:nth-of-type(4) {
    min-height: calc(100vh - 100px);
}










