@import './style/properties';

.overflow-wrap{
    overflow-x: hidden;
}

section {
    padding: 70px 0 70px 0;
    color: #616161;
    position: relative;
    line-height: 18pt;
    min-height: 100vh;
    @media screen and (min-width: 600px){
        line-height: 18pt;
        padding: 100px 0 130px 0;
    }
}







